@import "./variables";
@import "./components/button";
@import "./components/carousel";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // font-size: 62.5%;
}

body {
  background-color: $body-background-color;
  color: $body-default-color;
  font-family: $body-default-font-family;
  // font-size: $base-font-size;
}

h1 {
  font-weight: 300;
  margin-bottom: $space;
}

h2 {
  font-size: $large-font-size;
  margin-bottom: $space;
}

p {
  margin-bottom: $space;
}

input[type="text"],
textarea {
  border: 1px solid $input-border;
  color: #ef6b47;
  font-size: $base-font-size;
  font-family: $body-default-font-family;
  margin-bottom: $space;
  padding: $input-spacing;
}

input[type="email"],
input[type="password"],
textarea {
  border: 1px solid $input-border;
  color: $body-default-color;
  font-size: $base-font-size;
  font-family: $body-default-font-family;
  margin-bottom: $space;
  padding: $input-spacing;
}

.carousel-item > img {
  width: 100%;
}

.card-title {
  font-size: $base-font-size;
}
#searchBar {
  text-align: center;
  width: 100%;
}

.lnk-primary {
  color: #a2959f;
}

.lnk-primary:hover {
  color: #ef6b47;
}

.lnk-secondary {
  color: #ef6b47;
}

.lnk-secondary:hover {
  color: #a2959f;
}

.nav-link:hover {
  color: #ef6b47 !important;
}

.brewLink--primary {
  color: #ef6b47;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ef6b47;
  }

  &:active {
    color: #a2959f;
  }
}
.btn-primary {
  background-color: #ef6b47 !important;
  outline-color: #a2959f !important;
  border: none !important;
}

.button-link {
  color: #333;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    color: #ef6b47 !important;
    text-decoration: none;
  }
}

.btn:active,
.btn:focus,
.btn.active,
.btn.focus {
  outline: none;
  box-shadow: none;
}
.btn-primary:visited {
  background-color: #ef6b47 !important;
}

.btn-primary:focus {
  background-color: #ef6b47 !important;
}

.btn-primary:hover {
  background-color: #a2959f !important;
  color: white;
}

.btn-outline-primary {
  border-color: #fff !important;
  color: #fff !important;
  background-color: #333333 !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background: #333333 !important;
}

.primary-color {
  background-color: #ef6b47;
}

.secondary-color {
  background-color: #a2959f;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item.visited,
.dropdown-item.focus {
  background-color: #ef6b47 !important;
  border: none !important;
  outline-color: #a2959f !important;
}

#ampColor {
  color: #ef6b47;
}

.boxsize {
  height: 100%;
  overflow: auto;
}
#youColor {
  color: #a2959f;
}

nav span {
  color: rgba(0, 0, 0, 0.75);
}
h1 {
  padding: 0.5em;
}

h6 {
  margin-right: 1.2em;
}

footer {
  margin-top: 3em;
}

.badge {
  background-color: #ef6b47;
  color: white;
}

.jumbotron {
  background-image: url("beer_flights.jpg");
  background-blend-mode: overlay;
  background-size: cover;
}
/* temp */
.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.2;
  margin-bottom: $space;
  padding: $input-spacing;
  text-transform: uppercase;
}

.boxed-view {
  align-items: center;
  display: flex;
  justify-content: center;
  // height: 60vh;
  margin-top: 2rem;
  width: 100vw;
}

.boxed-view--modal {
  background: fade-out($boxed-view-overlay-bg, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.boxed-view__box {
  background-color: $boxed-view-bg;
  border: 1px solid $boxed-view-border-color;
  padding: 2.4rem;
  text-align: center;
  width: 24rem;
}

.boxed-view__form {
  display: flex;
  flex-direction: column;
}

.react-autosuggest__suggestions-list {
  list-style: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 52px;
}

.react-autosuggest__suggestion {
  border: 1px solid #e1e1dd;
  background-color: white;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid #ef6b47;
  }

  &:active {
    border: 1px solid #ef6b47;
    transform: scale(1.1);
    color: #ef6b47;
  }
}

.alert--secondary {
  background-color: rgba(255, 163, 133, 0.1);
  border: 1px solid rgba(83, 90, 96, 0.1);
}

.scrollbar-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-warning::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff8800;
}

.scrollbar {
  float: left;
  height: 37rem;
  background: #fff;
  overflow-y: scroll;
}
.force-overflow {
  min-height: 450px;
}
.scrollbar-sunny-morning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-sunny-morning::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-sunny-morning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #ef6b47 0%, #ef6b47 100%);
  background-image: linear-gradient(120deg, #ef6b47 0%, #ef6b47 100%);
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.is-flex > [class*="col-"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
