@import './variables';
@import "./components/button";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // font-size: 62.5%;
}

body {
  background-color: $body-background-color;
  color: $body-default-color;
  font-family: $body-default-font-family;
  // font-size: $base-font-size;
}

h1 {
  font-weight: 300;
  margin-bottom: $space;
}

h2 {
  font-size: $large-font-size;
  margin-bottom: $space;
}

p {
  margin-bottom: $space;
}

input[type=text], input[type=email], input[type=password], textarea {
  border: 1px solid $input-border;
  color: $body-default-color;
  font-size: $base-font-size;
  font-family: $body-default-font-family;
  margin-bottom: $space;
  padding: $input-spacing;
}

.carousel-item > img { 
  width: 100%;
}

.card-title{
  font-size: $base-font-size;
}
#searchBar{
  text-align: center;
  width: 100%;
}

.lnk-primary{
  color: #A2959F;
}

.lnk-primary:hover{
  color: #EF6B47;
}

.lnk-secondary{
  color:  #EF6B47;
}

.lnk-secondary:hover{
  color: #A2959F;
}
.brewLink--primary {
  color: #EF6B47;
  cursor: pointer;

  &:hover, &:focus {
    color: #EF6B47;
  }

  &:active {
    color: #d1a336;
  }
}
.btn-primary {
    background-color: #EF6B47 !important;
    outline-color: #A2959F !important;
    border: none !important;
}
.btn:active, .btn:focus, .btn.active, .btn.focus{
  outline: none;
  box-shadow: none;
}
.btn-primary:visited{
  background-color: #EF6B47 !important;
}

.btn-primary:focus{
  background-color: #EF6B47 !important;
}

.btn-primary:hover {
  background-color: #d1a336 !important;
}

.btn-outline-primary{
  border-color: #fff !important;
  color: #fff !important;
  background-color: #d1a336 !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background: #d1a336 !important;
}

.primary-color {
  background-color: #EF6B47;
}

.secondary-color {
  background-color: #353335;
}

.dropdown-item.active, .dropdown-item:active, .dropdown-item.visited, .dropdown-item.focus {
  background-color: #EF6B47 !important;
  border: none !important;
  outline-color: #A2959F !important;
}

#ampColor{
  color: #EF6B47;
}

#youColor{
  color: #A2959F;
}

nav span {
  color: rgba(0, 0, 0, 0.75);
}
h1 {
  padding: 0.5em;
}

h6 {
  margin-right: 1.2em;
}

footer {
  margin-top: 3em;
}

.badge{
  background-color: #EF6B47;
  color: white;
}

.jumbotron{
  background-image: url("beer_flights.jpg");
  background-blend-mode: overlay;
  background-size: cover;
}
/* temp */
.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.2;
  margin-bottom: $space;
  padding: $input-spacing;
  text-transform: uppercase;
}

.boxed-view {
  align-items: center;
  display: flex;
  justify-content: center;
  // height: 60vh;
  margin-top: 2rem;
  width: 100vw;
}

.boxed-view--modal {
  background: fade-out($boxed-view-overlay-bg, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.boxed-view__box {
  background-color: $boxed-view-bg;
  border: 1px solid $boxed-view-border-color;
  padding: 2.4rem;
  text-align: center;
  width: 24rem;
}

.boxed-view__form {
  display: flex;
  flex-direction: column;
}

.react-autosuggest__suggestions-list{
  list-style: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 52px;
}

.react-autosuggest__suggestion{
  border: 1px solid #e1e1dd;
  background-color: white;
  cursor: pointer;



  &:hover, &:focus {
    border: 1px solid #EF6B47;
  }

  &:active {
    border: 1px solid #EF6B47;
    transform: scale(1.1);
    color: #EF6B47;
  }
}

.alert--secondary{
  background-color: #fff7e5;
  border: 1px solid rgba(83,90,96,0.1);
}