.button--primary {
  background-color: #ef6b47;
  border-radius: 0.25rem;
  cursor: pointer;
  line-height: 1;
  padding: 1rem;
  color: white;
  outline: none;
  transition: background 0.2s ease, transform 0.2s ease;

  &:hover,
  &:focus {
    background-color: #a2959f;
    color: white;
    text-decoration: none;
  }

  &:active {
    background-color: #a2959f;
    transform: scale(1.1);
  }
}

.button--primary--outline {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #ef6b47;
  cursor: pointer;
  line-height: 1;
  padding: 1rem;
  transition: background 0.2s ease, transform 0.2s ease;

  &:hover,
  &:focus {
    color: #ef6b47;
    border-color: #ef6b47;
  }

  &:active {
    // background-color: #EF6B47;
    transform: scale(1.1);
  }
}

.button--secondary {
  background-color: #a2959f;
  border-radius: 0.25rem;
  cursor: pointer;
  line-height: 1;
  padding: 1rem;
  color: white;
  outline: none;
  transition: background 0.2s ease, transform 0.2s ease;

  &:hover,
  &:focus {
    background-color: #ab8429;
  }

  &:active {
    background-color: #ab8429;
    transform: scale(1.1);
  }
}

.button--link {
  color: white;
  text-decoration: none;

  &:hover,
  &:focus {
    color: white;
    text-decoration: none;
  }

  &:active {
    // background-color: #EF6B47;
    transform: scale(1.1);
  }
}
